<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, minus vitae! Nulla modi in fugit, inventore cupiditate porro nisi non placeat quis voluptas odio dignissimos quia assumenda reprehenderit, reiciendis quas!</p>
    <ion-button expand="block" routerLink="/home" routerDirection="back">
      Volver
    </ion-button>
  </div>
</ion-content>
