<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button expand="block" routerLink="/detalle" 
      routerDirection="forward">Detalle</ion-button>
    <ion-button expand="block" (click)="toDetalle()">Detalle Prog</ion-button>
  </div>
</ion-content>
